body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  color: #777;
  line-height: 1.7;
  font-family: 'Fira Sans', sans-serif;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translate(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translate(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes shadow {
  10% {
    filter: drop-shadow(-0.2em -0.2em 0.05em #c7c100);
  }
  30% {
    filter: drop-shadow(-0.1em 0em 0.05em #c7c100);
  }
  60% {
    filter: drop-shadow(-0.5em 0em 0.05em #c7c100);
  }
  90% {
    filter: drop-shadow(-0.01em 0em 0.05em #c7c100);
  }
  100% {
    color: black;
  }
}

.App {
  text-align: center;
}

.app-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/profile.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.heading {
  color: #fff;
  font-size: 40px;
  margin-bottom: 80px;
  font-family: 'Griffy', cursive;
  text-transform: uppercase;
  font-weight: bolder;
  animation-name: shadow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  letter-spacing: 0.2em;
}

.skills {
  color: #fff;
  font-size: 23px;
  margin-bottom: 50px;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.findoutmore {
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 auto;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.find {
  color: #000;
}

.find:hover {
  text-decoration: none;
  color: #fff;
}

.social-links {
  padding-top: 50px;
  text-align: center;
}

.connect {
  color: #fff;
  margin-bottom: 30px;
  font-size: 20px;
  animation-name: moveInRight;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.fab {
  width: 60px;
  height: 60px;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  margin: 5px;
  border-radius: 50%;
  border: 2px double lightblue;
  transition: all 0.4s;
  animation-name: moveInRight;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.fab:hover {
  background-color: #fff;
  border: 2px double #333;
  cursor: pointer;
  opacity: 8;
  transform: rotate(360deg);
  box-shadow: 2px 2px 24px lightblue;
}

.app-portfolio {
  text-align: center;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.heading-about {
  color: #777;
  font-size: 40px;
  margin-bottom: 20px;
  font-family: 'Griffy', cursive;
  text-transform: uppercase;
  font-weight: bolder;
  animation-name: shadow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  letter-spacing: 0.2em;
}

.profile2 {
  width: 170px;
  height: 220px;
  margin-bottom: 50px;
  margin-top: 40px;
  border-radius: 30px;
}

.profile2:hover {
  box-shadow: 5px 5px 5px 5px;
  transition: 0.4s ease-out;
}

.aboutme-paragraph {
  text-align: justify;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.header-logos {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.logos {
  margin: 10px;
  margin-bottom: 20px;
}

.description {
  margin: 0 auto;
  width: 200px;
}

.fa-file-code {
  font-size: 40px;
  background-color: purple;
  color: #fff;
  border: 1px solid purple;
  border-radius: 100%;
  padding: 30px;
  margin-bottom: 20px;
}

.app-projects {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.heading-projects {
  color: #777;
  font-size: 40px;
  margin-bottom: 20px;
  font-family: 'Griffy', cursive;
  text-transform: uppercase;
  font-weight: bolder;
  animation-name: shadow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  letter-spacing: 0.2em;
}

.cssone {
  margin: 10px;
  border-radius: 20px;
}

.cssone:hover {
  box-shadow: 5px 5px 5px 5px;
  transition: 0.7s ease-out;
}

.app-contact {
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
}

.heading-contact {
  color: #777;
  font-size: 40px;
  margin-bottom: 50px;
  font-family: 'Griffy', cursive;
  text-transform: uppercase;
  font-weight: bolder;
  animation-name: shadow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  letter-spacing: 0.2em;
}

.social-icons {
  width: 40px;
  height: 40px;
  margin: 10px;
}
