body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: #777;
  line-height: 1.7;
  font-family: 'Fira Sans', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/profile.png');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.heading {
  color: #fff;
  font-size: 60px;
}

.skills {
  color: #fff;
  font-size: 23px;
}

.findoutmore {
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 auto;
}

.social-links {
  padding-top: 30px;
  text-align: center;
}

.connect {
  color: #fff;
  font-size: 20px;
}

.fab {
  color: blue;
  padding: 20px;
  text-decoration: none;
  margin: 5px;
  border-radius: 50%;
  border: 2px double blue;
  transition: all 0.4s;
}

.fab:hover {
  background-color: #fff;
  border: 2px double #333;
  cursor: pointer;
  opacity: 8;
  transform: rotate(360deg);
  box-shadow: 2px 2px 24px blue;
}
